#CCPAPopup {
  all: revert;
  width: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: #bd0e0e;
  color: white;
  position: fixed;
  z-index: 99;
  bottom: 15px;
  left: 15px;
}

#CCPABody {
  margin-left: 6px;
  margin-right: 13px;
  margin-top: 3px;
}

#CCPAMoreInfo {
  all: revert;
  color: white;
  font-size: 10px;
}

#CCPAClose {
  all: revert;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

#CCPAButton {
all: revert;
background-color: black;
border: 2px solid white;
color: white;
margin: 5px 5% 3px 5%;
text-align: center;
cursor: pointer;
}