.CCPAPopup {
  width: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #bd0e0e;
  color: white;
  position: fixed;
  z-index: 20;
  top: 15px;
  right: 15px;
}

.CCPAPopup div {
  all: unset;
}

.CCPAMoreInfo {
  color: white;
  font-size: 10px;
}

.CCPAMoreInfo a {
  all: unset;
}

.hidden {
  display: none;
}

.CCPAClose {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.CCPAClose span {
  all: unset;
}

.CCPAButton {
background-color: black;
border: 2px solid white;
color: white;
margin: 5px 5% 3px 5%;
text-align: center;
cursor: pointer;
}

.CCPAButton button{
  all : unset;
}
